/* ===================================
========= Food Card  */

.food__item {
    border: 1px solid #fde4e4;
    text-align: center;
    padding: 30px;
    cursor: pointer;
    border: 1px solid orangered;
  }
  
  .food__img {
    margin-bottom: 20px;
    transition: 0.4s;
  }
  
  .food__img:hover {
    transform: scale(1.2);
  }
  
  .food__content h5 a {
    color: #212245;
    font-size: 1rem;
  }
  
  .food__content h5 {
    margin-bottom: 30px;
  }
  
  .food__price {
    font-weight: 600;
    font-size: 1.2rem;
    color: #df2020;
  }
  
  .addTOCart__btn {
    border: none;
    padding: 7px 25px;
    background: #df2020;
    color: #fff;
    border-radius: 5px;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
  }

  .desc-card{
    font-size: 13px;
    display: flex;
    text-align: start;
  }

  .deals{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  @media only screen and (max-width: 992px) {
    .food__content h5 a {
      font-size: 0.8rem;
    }
    .food__item {
      padding: 20px;
    }
    .addTOCart__btn {
      padding: 5px 15px;
      font-size: 0.7rem;
    }
  }
  